.awesome-motive-table-block h4 {
    text-align: center;
}

.awesome-motive-table-block table {
    width: 100%;
    border-spacing: 0;
    text-align: center;
}

.awesome-motive-table-block table,
.awesome-motive-table-block table th,
.awesome-motive-table-block table td {
    border-collapse: collapse;
    border: 2px solid #ccc;
}